<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='log.css')}}">
  

    

    <script>

$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});

    </script>
</head>
<body>
  <center><h1 style="background-color:white;">Login to admin panel</h1></center>
    <div class="login-page">
        <div class="form">

          <form action="/main" class="login-form" method="post">
            <input type="text" name ="username" placeholder="username"/>
            <input type="password" name ="password" placeholder="password"/>
            <button type="submit">login</button>
          </form>

        </div>
      </div>
</body>
</html>